body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

nav {
    width: 100%;
    background-color: #333;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
}

nav form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    margin: 0;
    padding: 0;
}

nav a, nav span {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover, a:hover, button:hover {
    text-decoration: underline;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 60px 0 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:hover {
    background-color: #f1f1f1;
}

a, button {
    color: #4CAF50;
    text-decoration: none;
    background-color: transparent;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
}

.logout-button {
    color: white;
    background-color: transparent;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    outline: none;
}

.logout-button:hover {
    background-color: transparent;
}

form {
    background: white;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    color: #555;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="checkbox"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.error {
    color: red;
    font-size: 0.9em;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

.password-toggle {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.password-toggle label {
    margin-left: 5px;
    color: #555;
}
