<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Edit User</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<nav>
    <a th:href="@{/}">Home</a>
    <a th:if="${#authentication.name == 'anonymousUser'}" th:href="@{/register}">Register</a>
    <a th:if="${#authentication.name == 'anonymousUser'}" th:href="@{/login}">Login</a>
    <a th:if="${#authentication.name != 'anonymousUser'}" th:href="@{/user-list}">User List</a>
    <span th:if="${#authentication.name != 'anonymousUser'}">
        Welcome, <span th:text="${#authentication.name}"></span>!
        <form th:action="@{/logout}" method="post" style="display:inline;">
            <button type="submit" class="logout-button">
                Logout
            </button>
        </form>
    </span>
</nav>

<h1>Edit User</h1>
<form th:action="@{/edit-user(username=${user.username})}" method="post" th:object="${user}">
    <label for="username">Username:</label>
    <input type="text" id="username" th:field="*{username}" disabled />
    <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="error">Name Error</div>
    <br/>
    <label for="email">Email:</label>
    <input type="email" id="email" th:field="*{email}"/>
    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error">Email Error</div>
    <br/>
    <button type="submit">Save</button>
</form>

</body>
</html>
